html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f5f5f5;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: inherit;
}

.progress {
  height: 1.5rem !important;
}

.container {
  max-width: 90%;
}

.active {
  background: transparent !important;
  color: white !important;
  border-bottom: 2px solid white !important;
  border-radius: 0px !important;
}

#div1,
#div4 {
  margin-left: 12.5%;
}

@media (max-width: 600px) {
  #div1,
  #div4 {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .form-search {
    width: 250px;
    margin-left: 5px;
  }
}

@media (max-width: 400px) {
  .form-search {
    width: 220px;
    margin-left: 5px;
  }
}

@media (max-width: 360px) {
  .form-search {
    width: 170px;
    margin-left: 5px;
  }
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.whatsnew {
  background: transparent !important;
  color: yellow !important;
  font-weight: bold;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.customDropdown {
  border-radius: 1.625rem;
  font-size: 1rem;
  height: 2.8rem;
  cursor: pointer;
}

.customInput {
  border-radius: 1.625rem;
  font-size: 1rem;
  height: 2.8rem;
  cursor: pointer;
}

.convert-btn {
  height: 2.8rem;
  color: #fff;
  border-radius: 1.25rem;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-animation {
  background: rgb(255, 151, 0);
  border: none;
  z-index: 1;
}
.logout-btn {
  background: transparent !important;
  color: white !important;
  font-weight: bold;
  border: 1px solid white !important;
  border-radius: 0px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-animation:after {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 1.25rem;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-animation:hover {
  color: #000;
  border-radius: 1.25rem;
}

.btn-animation:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
  border-radius: 1.25rem;
}

.btn-animation:active {
  top: 2px;
}

.btn-animation-2 {
  background: #b621fe;
  border: none;
  z-index: 1;
}

.btn-animation-2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 1rem;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-animation-2:hover {
  border-radius: 1rem;
  color: #fff;
}

.btn-animation-2:hover:after {
  left: 0;
  width: 100%;
  border-radius: 1rem;
}

.btn-animation-2:active {
  top: 2px;
  border-radius: 1rem;
}

.waviy span {
  display: inline-block;
  animation: waviy 1.5s;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

ul.ui-autocomplete {
  z-index: 1100;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 16px;
  height: 16px;
  z-index: 999999;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
  border: 0px solid #fff;
}

::-webkit-scrollbar-button {
  display: none;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
  border: 4px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

.card_instructions {
  padding: 1.5rem;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  background: #e8f0fe;
  background: linear-gradient(
    90deg,
    rgba(232, 240, 254, 1) 0%,
    rgba(214, 227, 249, 1) 0%
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
}

.heading {
  text-align: center;
  font-weight: 600;
  margin: 10px 0px;
  color: #888888;
  font-size: 30px;
  transition: all 0.5s;
}

.overlay_title {
  font-size: 1.875rem;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.text-gradient {
  background: rgb(123, 6, 249);
  background: linear-gradient(
    90deg,
    rgba(123, 6, 249, 1) 32%,
    rgba(223, 18, 162, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.dot-navigation {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
}

.active_model {
  background-color: #333;
}

.warning-msg {
  color: #9f6000;
  background-color: #feefb3;
  margin: 10px 0;
  padding: 10px;
  border-radius: 1rem;
}

@media (min-width: 1092px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-custom .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-custom .container {
    flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}
